<template>
  <v-row class="ma-0">
    <v-col lg="3" align="center" >
     <div @click="home" aling="center" class="div_img d-flex align-center">
        <img class="logo text-center" src="../assets/Logo-Startub.svg" />
      </div>
    </v-col>

    <v-col lg="9">
      <div class="sheet">
      <v-sheet height="100" class="d-flex align-center justify-center">
        <v-toolbar flat>
          <v-btn outlined color="#4390F5" @click="setToday"> Today </v-btn>
          <v-btn fab text small color="grey darken-2" @click="prev">
            <v-icon small> mdi-chevron-left </v-icon>
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small> mdi-chevron-right </v-icon>
          </v-btn>
          <v-toolbar-title v-if="$refs.calendar">
            {{ $refs.calendar.title }}
          </v-toolbar-title>
        </v-toolbar>
      </v-sheet>
      </div>
      <div class="calendar">

      
      <v-sheet height="55vh" width="100vw">
        <!-- {{parseEvents()}} -->
        <v-calendar
          ref="calendar"
          color="white"
          v-model="focus"
          type="category"
          category-show-all
          :events="events"
          :categories="categories"
          :event-color="getEventColor"
          first-time="08:00 "
          interval-count="11"
        ></v-calendar>
      </v-sheet>
      </div>
      <v-btn
      @click="picker"
      absolute
      right
      bottom
      class=" mt-5 mb-2"
      depressed
      dark
      color="#4390F5"
    >
      <v-icon dark> mdi-plus </v-icon>
    </v-btn>
     <v-btn
      class="mt-5 mb-2"
      depressed
      dark
      medium
      absolute
      bottom
      color="#4390F5"
      @click="home"
    >
     Back
    </v-btn>
    </v-col>
    
  </v-row>
</template>
<script>
export default {
  data: () => ({
    focus: "",
    events: [],
    categories: ["Room2"],
    colors: [
      "blue",
      "indigo",
      "deep-purple",
      "cyan",
      "green",
      "orange",
      "grey darken-1",
    ],
  }),
  async mounted() {
    await this.$store.dispatch("getEvents"), this.$refs.calendar.checkChange();

    this.parseEvents();
  },

  methods: {
    getEventColor(element) {
      return element.color;
    },
    setToday() {
      this.focus = "";
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    async picker() {
      this.$router.push("/picker");
    },
    async home() {
      this.$router.push("/");
    },
    async update() {
      this.$router.push("/update");
    },
    parseEvents() {
      const evs = this.$store.state.events;
      let parsedEvents = [];
      evs.forEach((element) => {
        const allDay = this.rnd(0, 3) === 0;
        parsedEvents.push({
          name: element.userLabs,
          start: new Date(
            element.eventDate + " " + element.startTime
          ).getTime(),
          end: new Date(element.eventDate + " " + element.endTime).getTime(),
          color: this.colors[this.rnd(0, this.colors.length - 1)],
          timed: !allDay,
          category: element.room,
        });
      });
      console.log(parsedEvents);
      this.events = parsedEvents || [];
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a;
    },
  },
};
</script>
<style scoped>
.v-calendar /deep/ .v-calendar-daily_head-day {
  flex: 1 1 auto;
  position: relative;
  background: linear-gradient(211.46deg, #4ad9fe 9.19%, #4285f4 102.72%);
}
.v-calendar /deep/ .v-calendar-category__category {
  color: white;
}
.v-calendar /deep/ .v-calendar-daily__intervals-head {
  background: #ffffff;
}
.logo {
  width: 250px;
}
.v-avatar {
  display: flex;
  justify-content: right;
  align-items: right;
  position: absolute;
  left: 91%;
  top: 5px;
}
.div_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px;
}
.sheet{
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar{
  display: flex;
  justify-content: center;
  align-items: center;  
}
</style>
