<template>
  <v-row class="ma-0">
    <v-col lg="3" align="center">
      <div style="margin-top: 5vh; padding: 0px">
        <img class="logo text-center" src="../assets/Logo-Startub.svg" />
      </div>
      <div class="mt-5">
        <img
          class="img"
          src="../assets/form.svg"
          width="80%"
          style="max-height: 300px"
        />
      </div>
    </v-col>
    <v-col lg="9" class="pl-10 pr-10">
      <v-card min-height="100%"  elevation="0" class="d-flex align-center">
        <v-col>
          <v-card-title class="text-lg-h4 text-md-h5 font-weight-bold mb-1">
            Select your lab.
          </v-card-title>
          <v-card-subtitle> Select your lab to continue! </v-card-subtitle>
          <div align="center">
            <v-select
              outlined
              v-model="selectedLabs"
              label="Labs"
              :items="items"
              :menu-props="{ top: true, offsetY: true }"
            ></v-select>
            <v-btn
              class="mt-15"
              depressed
              dark
              large
              fixed
              right
              bottom
              color="#4390F5"
              @click="updateUser"
            >
              <v-icon dark> mdi-text-box-check-outline </v-icon>
            </v-btn>
          </div>
        </v-col>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  data: () => ({
    items: ["Liquid Galaxy", "Brain", "Liga", "Smart Campus"],
    selectedLabs: "",
  }),
  computed: {
    user() {
      return this.$store.state.user;
    },
  },
  methods: {
    async updateUser() {
      this.$store.dispatch("updateUser", {
        id: this.$store.state.user.id,
        data: { labs: this.selectedLabs },
      });
      this.$router.push("/");
    },
  },
};
</script>
<style>
.logo {
  width: 250px;
}
</style>