<template>
  <v-row align="center" justify="center"  >
    <div class="top">
      <img class="logo text-center mt-1" src="../assets/Logo-Startubwhite.svg"/>
      <v-avatar @click="update">
      <v-icon size="30" color="white" dark> mdi-account-circle </v-icon>
    </v-avatar>
    </div>
    <v-row justify="center">
      <div class="text mt-3 mb-5">
        <h1> Select Room:</h1>
      </div>
    <v-col lg="6" class="pa-1" align="center">
      <v-card @click ="calendar1" class="mx-auto" max-width="40%"> 
        <v-img class="align-end"  src="../assets/room2.svg"></v-img> 
        <v-card-title justify="center" align-text="center" >ROOM 1</v-card-title>
        <v-card-subtitle class="text--primary text-center">
          <h3 style="font-weight:300" class="text-center">Meeting room with round table</h3>
          <h4 style="font-weight:300" class="text-center">ideal for small and medium teams</h4>
        </v-card-subtitle>
      </v-card>
    </v-col>
     <v-col lg="6" align="center">
      <v-card @click ="calendar2" class="mx-auto" max-width="40%"> 
        <v-img class="align-end" width="100vw" src="../assets/room2.svg"></v-img> 
        <v-card-title >ROOM 2</v-card-title>
         <v-card-subtitle class="text--primary">
          <h3 style="font-weight:300">Meeting room with conference table</h3>
          <h4 style="font-weight:300">ideal for medium and big teams</h4>
        </v-card-subtitle>
      </v-card>
    </v-col>
    </v-row>
  </v-row>
</template>
<style scoped>
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 208px;
  background: linear-gradient(211.46deg, #4285f4 9.19%, #08d9fe 102.72%);
}
.logo {
  height: 50%;
  width: 50%;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.v-avatar {
  display: flex;
  justify-content: right;
  align-items: right;
  position: absolute;
  left: 91%;
  top: 5px;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
}
.v-card{
  justify-content: center;
  align-items: center;
}
</style>
<script>
export default{
  methods:{
    async calendar1(){
      this.$router.push("/calendar/1")
    },
    async calendar2(){
      this.$router.push("/calendar/2")
    },
      async update() {
      this.$router.push("/update");
    },
    
    
  }
}
</script>