<template>
  <v-row class="ma-0">
    <v-col lg="8" align="center">
      <div style="margin-top: 5vh; padding: 0px">
        <img class="logo text-center" src="../assets/Logo-Startub.svg" />
      </div>
      <div class="mt-5">
        <img
          class="img"
          src="../assets/Meeting-pana.svg"
          width="80%"
          style="max-height: 500px"
        />
      </div>
    </v-col>
    <v-col lg="4">
      <v-card min-height="100%" elevation="0" class="d-flex align-center">
        <v-col>
          <v-card-title class="text-lg-h4 text-md-h5 font-weight-bold mb-1">
            StartUb
          </v-card-title>
          <v-card-subtitle>
            Is a PWA (Progressive Web App) for booking rooms for your meetings
          </v-card-subtitle>
          <div align="center">
            <v-btn
              large
              color="white"
              class="ma-2 black--text"
              @click="socialLogin"
            >
              <img
                width="20px"
                class="google-logo"
                alt="Google Logo"
                src="../assets/google-logo.png"
                style="margin: 0px 10px"
              />
              Sign in with Google
            </v-btn>
          </div>
        </v-col>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  methods: {
    async socialLogin() {
      await this.$store.dispatch("socialLogin");
      this.$router.push("/form");
    },
  },
};
</script>


<style>
.logo {
  width: 250px;
}
</style>
