<template>
  <v-row class="ma-0">
    <v-col lg="3" align="center" >
      <div @click="goToHome" aling="center" class="div_img d-flex align-center">
        <img class="logo text-center" src="../assets/Logo-Startub.svg" />
      </div>
    </v-col>
    <v-col lg="9" >
      <v-card min-height="100%" elevation="0" class="d-flex align-center">
        <v-stepper width="100%" v-model="e1" alt-labels>
          <v-stepper-header>
            <v-stepper-step :complete="e1 > 1" step="1"> Room </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 2" step="2"> Date </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3">Time</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <v-stepper-content class="stepper1" step="1">
              <div>
                <h1 style="font-weight:300;">Room Picker</h1>
              </div>
              <div class="select">
                <v-select
                  outlined
                  v-model="selectedRoom"
                  :items="items"
                  :menu-props="{ top: true, offsetY: true }"
                  label="Select Room"
                >
                </v-select>
              </div>

              <v-btn
                class="mb-2"
                depressed
                dark
                medium
                fixed
                right
                bottom
                color="#4390F5"
                @click="e1 = 2"
              >
                Next
              </v-btn>
              <v-btn
                class="mb-2"
                depressed
                dark
                medium
                fixed
                bottom
                color="#4390F5"
                @click="goToHome"
              >
                Back
              </v-btn>
            </v-stepper-content>
            <v-stepper-content class="stepper2" step="2">
              <v-row justify="center" class="mt-3 text-center">
                <p>Date Picker</p>
              </v-row>
              <v-row justify="center">
                <v-date-picker
                  class="mb-15"
                  v-model="picker"
                  elevation="5"
                  active-picker=""
                  :min="new Date().toISOString()"
                ></v-date-picker>
              </v-row>
              <v-btn
                class="btn mt-10 mb-2"
                depressed
                dark
                medium
                fixed
                bottom
                color="#4390F5"
                @click="e1 = 1"
              >
                Back
              </v-btn>
              <v-btn
                class="btn mt-10 mb-2"
                depressed
                dark
                medium
                fixed
                right
                bottom
                color="#4390F5"
                @click="e1 = 3"
              >
                Next
              </v-btn>
            </v-stepper-content>
            <v-stepper-content class="stepper3" step="3">
              <v-row justify="center" class="mt-3 text-center">
                <p>Time Picker</p>
              </v-row>
              <v-row justify="center">
                <v-time-picker
                  class="mb-15"
                  elevation="15"
                  v-model="time"
                  :allowed-minutes="allowedStep"
                  format="24hr"
                  scrollable
                  min="9:00"
                  max="18:00"
                ></v-time-picker>
              </v-row>
              <v-btn
                class="btn mt-10 mb-2"
                depressed
                dark
                medium
                fixed
                bottom
                color="#4390F5"
                @click="e1 = 2"
              >
                Back
              </v-btn>
              <v-btn
                class="btn mt-10 mb-2"
                depressed
                dark
                medium
                fixed
                right
                bottom
                color="#4390F5"
                @click="setEvents"
              >
                <v-icon dark> mdi-text-box-check-outline </v-icon>
              </v-btn>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
import { addDoc, collection } from "@firebase/firestore";
import { db } from "@/main";
export default {
  data() {
    return {
      picker: null,
      e1: 1,
      time: '00:00',
      items: ["Room1", "Room2"],
      selectedRoom: [],
    };
  },

  computed: {
    user() {
      return this.$store.state.user;
    },
  },

  methods: {
    allowedStep: (m) => m % 60 === 0,
    async setEvents() {
      let separate = this.time.split(":");
      let hour = separate[0];
      let endtime = +hour + 1;
      let auxEvent = {
        room: this.selectedRoom,
        endTime: endtime + ":" + separate[1],
        startTime: this.time,
        userId: this.user.id,
        userLabs: this.user.labs,
        userName: this.user.name,
        eventDate: this.picker,
      };

      await addDoc(collection(db, "events"), auxEvent);

      this.$router.push("/");
    },
    async goToHome() {
      this.$router.push("/");
    },
  },
};
</script>
<style>
.select {
  width: 100%;
  outline: 0ch;
  left: 24px;
  top: 403px;
  bottom: 392px;
}
.stepper1 {
  height: 100%;
  width: 100%;
}
.stepper2 {
  height: 550px;
  width: 100%;
}
.v-sheet.v-stepper:not(.v-sheet--outlined) {
  box-shadow: none !important;
}
.logo {
  width: 250px;
}
.div_img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px;
}

</style>