<template>
  <v-row class="ma-0">
    <v-col lg="3" align="center" >
     <div @click="home" aling="center" class="div_img d-flex align-center">
        <img class="logo text-center" src="../assets/Logo-Startub.svg" />
      </div>
    </v-col>

    <v-col lg="9">
        <v-avatar class="ma-3" color="indigo" size="40">
          <v-icon size="20" dark>
            mdi-account-circle
          </v-icon>
        </v-avatar>
         <v-btn absolute right  class="mt-3 mr-3 pa-3" small color="#4390F5" dark>
              Exit
              <v-icon size="20" dark>
                mdi-logout
              </v-icon>
          </v-btn>      

        <h1 style="font-weight:400" class="ml-3 mt-5"> Change your Lab</h1>
        <div class="ma-3">
          <v-select
            style="width:60vw"
            outlined
            v-model="selectedLabs"
            label="Labs"
            :items="items"
            :menu-props="{ top: true, offsetY: true }"
          >
          </v-select>
            <v-btn
              color="error"
              absolute
              bottom
              dark
              large
              class="ml-1 mt-3 mb-3 mr-3"
            >
              Delete your account
            </v-btn>
            <v-btn
            class=" ml-3 mr-3 mt-3 pa-3"
            depressed
            dark
            normal
            absolute
            right
            bottom
            color="#4390F5"
            @click="updateUser"
      >
        <v-icon dark> mdi-text-box-check-outline </v-icon>
      </v-btn>
        </div>
    </v-col>
    
  </v-row>
</template>
<script>
export default {
  data: () => ({
    focus: "",
    events: [],
    categories: ["Room1"],
    colors: [
      "blue",
      "indigo",
      "deep-purple",
      "cyan",
      "green",
      "orange",
      "grey darken-1",
    ],
  }),
  async mounted() {
    await this.$store.dispatch("getEvents"), this.$refs.calendar.checkChange();

    this.parseEvents();
  },

  methods: {
    getEventColor(element) {
      return element.color;
    },
    setToday() {
      this.focus = "";
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    async picker() {
      this.$router.push("/picker");
    },
    async home() {
      this.$router.push("/");
    },
    async update() {
      this.$router.push("/update");
    },
    parseEvents() {
      const evs = this.$store.state.events;
      let parsedEvents = [];
      evs.forEach((element) => {
        const allDay = this.rnd(0, 3) === 0;
        parsedEvents.push({
          name: element.userLabs,
          start: new Date(
            element.eventDate + " " + element.startTime
          ).getTime(),
          end: new Date(element.eventDate + " " + element.endTime).getTime(),
          color: this.colors[this.rnd(0, this.colors.length - 1)],
          timed: !allDay,
          category: element.room,
        });
      });
      console.log(parsedEvents);
      this.events = parsedEvents || [];
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a;
    },
  },
};
</script>
<style scoped>
.v-calendar /deep/ .v-calendar-daily_head-day {
  flex: 1 1 auto;
  position: relative;
  background: linear-gradient(211.46deg, #4ad9fe 9.19%, #4285f4 102.72%);
}
.v-calendar /deep/ .v-calendar-category__category {
  color: white;
}
.v-calendar /deep/ .v-calendar-daily__intervals-head {
  background: #ffffff;
}
.logo {
  width: 250px;
}
.v-avatar {
  display: flex;
  justify-content: right;
  align-items: right;
  position: absolute;
  left: 91%;
  top: 5px;
}
.div_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px;
}
.sheet{
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar{
  display: flex;
  justify-content: center;
  align-items: center;  
}
</style>
