<template>
  <v-row align="center" justify="center">
    <div @click="home" class="top">
      <img
        class="logo text-center mt-1"
        src="../assets/Logo-Startubwhite.svg"
      />
    </div>
    <v-row justify="center">
      <div class="text mt-10 mb-7">
        <h1>Update Your LAB</h1>
      </div>
      <div class="select mr-8 ml-8">
        <v-select
          outlined
          v-model="selectedLabs"
          label="Labs"
          :items="items"
          :menu-props="{ top: true, offsetY: true }"
        ></v-select>
      </div>
      <div @click="delete_user" class="or ml-auto mr-15">
        OR delete your Account
      </div>
      <div class="text mt-10 mb-7">
        <h1>Logout your account</h1>
      </div>
      <v-row justify="center">
          <div class="img">
            <img
              class="delete_img"
              src="../assets/logout.svg"
            />
          </div>
          <div>
            <p>Do you want logout your Account</p>
          </div>
          <v-btn
            @click="home"
            static
            rounded
            color="grey"
            dark
            class="mr-15 mt-7"
          >
            No, i'm sorry
          </v-btn>
          <v-btn
            @click="logOut"
            static
            rounded
            color="primary"
            dark
            class="mt-7 mb-10"
          >
            Yes, i want
          </v-btn>
        </v-row>
      <v-btn
        style="display: flex"
        class="mt-15  mr-4"
        depressed
        dark
        large
        fixed
        right
        bottom
        color="#4390F5"
        @click="updateUser"
      >
        <v-icon dark> mdi-text-box-check-outline </v-icon>
      </v-btn>
    </v-row>
  </v-row>
</template>

<script>
import { getAuth, signOut } from '@firebase/auth';
export default {
  data: () => ({
    items: ["Liquid Galaxy", "Brain", "Liga", "Smart Campus"],
    selectedLabs: "",
  }),
  computed: {
    user() {
      return this.$store.state.user;
    },
  },
  methods: {
    async updateUser() {
      this.$store.dispatch("updateUser", {
        id: this.$store.state.user.id,
        data: { labs: this.selectedLabs },
      });
      this.$router.push("/");
    },
    async home() {
      this.$router.push("/");
    },
    async delete_user() {
      this.$router.push("/delete");
    },
    async logOut(){
      const auth = getAuth();
      signOut(auth).then(() => {
        // Sign-out successful.
      })

    }
  },
};
</script>


<style scoped>
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 208px;
  left: 0px;
  top: 0px;
  background: linear-gradient(211.46deg, #4285f4 9.19%, #08d9fe 102.72%);
  border-radius: 0px;
}
.logo {
  height: 50%;
  width: 50%;
  left: 112px;
  border-radius: 0px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.delete_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 22vh;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 26px;
  left: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 26px;
  text-align: center;

  color: #2ca0be;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 26px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 22px;
  color: #2ca0be;
}
.select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
}
.or {
  font-family: "Roboto";
  font-style: normal;
  color: #2ca0be;
}
</style>