<template>
  <v-container>
    <v-row class="ma-0 mt-12">
      <v-col lg="3" align="center">
        <div @click="home" aling="center" class="div_img d-flex align-center">
          <img class="logo text-center" src="../assets/Logo-Startub.svg" />
        </div>
      </v-col>

      <v-col lg="9">
        <v-card outlined width="100%" class="pa-6">
          <v-row justify="space-between" align="center" class="ma-0">
            <v-row class="ma-0">
              <v-avatar color="grey">
                <span class="white--text"><strong>K</strong></span>
              </v-avatar>
              <div class="ml-4">
                <h3>Karine Pistili</h3>
                <div class="subtitle-2">karine.pistili@gmail.com</div>
              </div>
            </v-row>
            <v-btn text color="blue" @click="logoutDialog = true">
              logout
              <v-icon right small>mdi-logout</v-icon>
            </v-btn>
          </v-row>

          <h3 class="mt-6">Update your lab</h3>
          <v-row class="ma-0">
            <v-col cols="12" lg="10" md="10" sm="10">
              <v-select
                dense
                outlined
                v-model="selectedLabs"
                label="Labs"
                :items="items"
                :menu-props="{ top: true, offsetY: true }"
              >
              </v-select>
            </v-col>
            <v-col cols="12" lg="2" md="2" sm="2">
              <v-btn
                style="height: 60%"
                block
                depressed
                dark
                color="#4390F5"
                @click="updateUser"
              >
                Update
                <v-icon dark right> mdi-text-box-check-outline </v-icon>
              </v-btn>
            </v-col>
          </v-row>

          <v-row class="ma-0 mt-8">
            <v-btn @click="deleteDialog = true" color="error" dark class="ml-1 mt-3 mb-3 mr-3">
              Delete your account
            </v-btn>
          </v-row>
        </v-card>

      </v-col>
    </v-row>

    <v-dialog v-model="logoutDialog" persistent width="120%" style="height:100vh">
      <v-card>
        <v-btn color="red" @click="logoutDialog = false">close</v-btn>
        <logout-component/>
      </v-card>
    </v-dialog>
    <v-dialog v-model="deleteDialog" persistent width="100%">
      <v-card>
        <v-btn color="red" @click="deleteDialog = false">close</v-btn>
          <delete-dialog/>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import LogoutComponent from '@/components/LogoutComponent.vue';
import DeleteDialog from '@/components/DeleteComponent.vue';

export default {
  components:{
    LogoutComponent,
    DeleteDialog
  },
  data: () => ({
    items: ["Liquid Galaxy", "Brain", "Liga", "Smart Campus"],
    selectedLabs: "",
    deleteDialog : false,
    logoutDialog : false
  }),
  computed: {
    user() {
      return this.$store.state.user;
    },
  },
  methods: {
    async updateUser() {
      this.$store.dispatch("updateUser", {
        id: this.$store.state.user.id,
        data: { labs: this.selectedLabs },
      });
      this.$router.push("/");
    },
    async home() {
      this.$router.push("/");
    },

    
  },
};
</script>

