<template>
      <v-row class="fill-height">
        <div @click="home" class="top">
          <img
            class="logo text-center mt-1"
            src="../assets/Logo-Startubwhite.svg"
          />
        </div>
        <v-row justify="center">
          <div class="img">
            <img
              class="delete_img"
              src="../assets/logout.svg"
            />
          </div>
          <div>
            <p>Do you want logout your Account</p>
          </div>
          <v-btn
            @click="home"
            static
            rounded
            color="grey"
            dark
            class="mr-15 mt-2"
          >
            No, i'm sorry
          </v-btn>
          <v-btn
            @click="logOut"
            rounded
            color="primary"
            dark
            class="mt-2"
          >
            Yes, i want
          </v-btn>
        </v-row>
      </v-row>
</template>
<script>
import {  getAuth, signOut,} from '@firebase/auth';
export default {
    name:'LogoutComponent',
  computed: {
    user() {
      return this.$store.state.user;
    },
  },
  methods: {
     async logOut(){
      const auth = getAuth();
      signOut(auth).then(() => {
        // Sign-out successful.
      })

    },
    async home() {
      this.$router.push("/");
    },
  },
};
</script>
<style scoped>
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 208px;
  left: 0px;
  top: 0px;
  background: linear-gradient(211.46deg, #4285f4 9.19%, #08d9fe 102.72%);
  border-radius: 0px;
}
.logo {
  height: 50%;
  width: 50%;
  left: 112px;
  border-radius: 0px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 100px;
}
.delete_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 22vh;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 26px;
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #2ca0be;
}
</style>