<template>
  <v-app>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import {onAuthStateChanged} from 'firebase/auth'
import {auth, db} from './main'
import { doc, setDoc } from '@firebase/firestore';

export default {
  name: 'App',

  data: () => ({
    
  }),

  created() {
  onAuthStateChanged(auth, async (user)=>{
    let userData = null;

    if (user) {
      userData = await this.$store.dispatch('getUserById',user.uid)
    }

    console.log(userData);

    if (user && !userData) {
      const ref = doc(db,'users', user.uid)
      await setDoc(ref, {name: user.displayName, email: user.email, labs:'' })
    }

    if (user && userData){
      this.$store.commit("setUser", {...userData, id: user.uid})
      if (!userData.labs.length) {
        this.$router.push('/form')
        
      }    
    }
    
    if (user && this.$route.path == '/' ) {
      this.$router.push('/')
    } else if (!user && this.$route.path !== '/login') {
      this.$router.push('/login')
    }
    
  })  
  }
};
</script>

<style>

p {
  align-items: center;
  height: 33px;
  left: 96px;
  top: 327px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size:18px !important;
}
</style>